@import './main.scss';

.container.friendRequest {
  min-width: 450px;
  max-width: 700px;

  .title {
    color: var(--secondary-color);
  }

  .btn {
    display: inline-block !important;
    border: none;
    outline: none;
    &.accept {
      background-color: var(--primary-color) !important;
    }
    *.reject {
      background-color: var(--secondary-color) !important;
    }
  }
}
